<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NSA.UI.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <applicationSettings>
        <NSA.UI.Settings>
            <setting name="FileFilter" serializeAs="String">
                <value>NSA Files|*.nsa|All Files (*.*)|*.*</value>
            </setting>
            <setting name="Title" serializeAs="String">
                <value>Network Structure Analysis Tool</value>
            </setting>
        </NSA.UI.Settings>
    </applicationSettings>
</configuration>
